---
---
// index-styles.scss
h2 {
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.2rem;
    margin-bottom: 1.0rem;
}
.profile-container {
  display: flex;
  align-items: stretch;
  margin-bottom: 2rem;
  min-height: 250px;
}
.profile-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}
.info-quote-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.contact-info {
  margin-bottom: 1.2rem; /* Add space between contact info and quote */
}
.quote-container {
  font-style: italic;
  color: #555;
  display: flex;
  flex-direction: column;
  gap: 0.6rem; /* Increased gap between quotes */
}
.quote {
  display: block;
}
.quote-text {
  display: block;
  margin-bottom: -0.1rem; /* Space between quote and author */
}
/* Remove the custom quote marks since they're in the HTML already */
.quote-author {
  display: block;
  text-align: right;
  font-weight: bold;
}
/* Media query for mobile devices */
@media (max-width: 767px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }
  .profile-image {
    width: 250px;
    height: 250px;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .info-quote-container {
    text-align: center;
  }
  .quote-author {
    text-align: center; /* Center-align the author on mobile */
  }
}